# -FrontPage-

IndexIgnore .htaccess */.??* *~ *# */HEADER* */README* */_vti*

<Limit GET POST>
order deny,allow
deny from all
allow from all
</Limit>
<Limit PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthName iuptutorial.com
AuthUserFile /home/iuptutor/public_html/_vti_pvt/service.pwd
AuthGroupFile /home/iuptutor/public_html/_vti_pvt/service.grp
